.forgot-password{
  background-color: whitesmoke;
  width: 400px;
  height: 333px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  
  scale: 0;
  transform: translateY(-100vh);
  transition: 1s;
}


.show-forgot-password{
scale: 1;
transform: translateY(0);

}

.forgot-pass{
  font-size: 19px;
  cursor: pointer;
  font-weight: normal;
}

.forgot-pass:hover{
  font-size: 20px;
 
  font-weight: bold;
  transition: 0.3s;
}

.close .fa-xmark{
  font-size: 29px;
  color: #444;
  position: absolute;
  top: 17px;
  right: 22px;
}

.close .fa-xmark:hover{
  color: orange;
  font-size: 30px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.check-email{
  color: #333;
  font-size: 16px;
  margin-top: 25px;
  line-height: 25px;
  
}

 