body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




* {
  margin: 0;
  padding: 0;
  color: white;

  font-family: sans-serif;

  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #1b1b1b;
}

h1 {
  padding: 20px;
  font-size: 25px;
}




button:hover{
  scale: 1.05;
  transition: all 0.15s;
 
}

button:active{
  scale: 0.9;
}

/* ==========================
Level2 (Sign-in - Sign-up)
=============================*/
form{
  display: flex;
  flex-direction: column;
}
input{
  margin-bottom: 18px;
  padding: 6px 4px;
  border: 1px solid #607d8b;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
}

form button {
  padding: 8px 12px;
  background-color: teal;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  border: none;
  color: white;
}

.account{
  font-size: 16px;
  margin-top: 12px;
  font-weight: 100;
}

.account a, .pls a{
  /* text-decoration: underline; */
  border-bottom: 2px solid;

  font-weight: 600;
  color: #00c6c6;
  font-size: 18px;
}

.Light .pls{
  color: #111;
}

.Light form p {
  color: rgb(0, 0, 0);
}


form button:active{
scale: 0.9;
border-radius: 0;
}


.delete{
  margin-top: 25px;
background-color:  #dc3545;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
border-color: #dc3545;
}



.fa-heart{
  font-size: 33px  ;
  color: #e14656;
}