.theme-btn {
  outline: 0;
  border-radius: 1rem;
  padding: .3rem .5rem;
  color: #fff;
  /* background-color: #3d4a59; */
  background-color: transparent;
  border: 1.5px solid #ddd;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all .3s;
}

.theme-btn:hover {
  box-shadow: 0 0 10px #9e4673,0 0 40px #9e4673,0 0 80px #9e4673;
  background: #9e4673;
  border: none;
  outline: 0;
}
.theme-btn:focus {
  padding: 4px 12px;
  box-shadow: 0 0 10px #9e4673,0 0 40px #9e4673,0 0 80px #9e4673;
  box-shadow: 0 0 0 5px #3d4a59,0 0 0 6px #fff;
}